*,*:before,*:after {
	-webkit-border-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #0095F2;
}

form {
	width: 100%;
	margin: 2.5% 5%;
}

#col1, #col2, #col3 {
	font-family: arial;
	color: white;
	float: left;
	width: 25%;
	margin: 0 2.5%;
}

#first-name, #last-name, #email, #country, #bio {
	width: 100%;
}

#phone, #groups, #job, #pet, #gadget {
	width: 100%;
}

#talent, #drink, #power, #weapon, #comment {
	width: 100%;
}