*,*:before,*:after {
	-webkit-border-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #00a2d8;
	width: 100%;
	margin: 2.5% 5%;
	position: relative;
}

input {
	border: 2px solid white;
	background-color: #00a2d8;
	color: white;
	height: 2em;
	font-size: 1em;
}

select {
	border: 2px solid white;
	color: white;
	background-color: #00a2d8;
	font-size: 1em;
}

textarea {
	border: 2px solid white;
	background-color: #00a2d8;
	resize: none;
}

#col1, #col2, #col3 {
	position: absolute;
	font-family: arial;
	color: white;
	width: 25%;
	margin: 0 2.5%;
}

#col2 {
	left: 30%;
}

#col3 {
	left: 60%;
}

#first-name, #last-name, #email, #country, #bio {
	width: 100%;
	margin-bottom: 12%;
}

#phone, #groups, #job, #pet, #gadget {
	width: 100%;
	margin-bottom: 11.5%;
}

#talent, #drink, #power, #weapon, #comments {
	width: 100%;
	margin-bottom: 12%;
}

@media only screen and (max-width: 900px) {
	
	#col2 {
		position: relative;
	}

	#col1 {
		width: 35%;
	}

	#col2 {
		left: 48%;
		width: 35%;
	}

	#col3 {
		padding-right: 17%;
		left: 0;
		width:100%;
	}

	#talent, #drink, #power, #weapon, #comments {
		margin-bottom: 1%;
	}
}

@media only screen and (max-width: 500px) {
	#col1{
		width: 100%;
		padding-right: 17%;
		position: relative;
	}

	#first-name, #last-name, #email, #country, #bio {
		margin-bottom: 1%;
	}

	#col2 {
		left: 0;
		padding-right: 17%;
		width: 100%;
		margin-bottom: 3%;
	}

	#phone, #groups, #job, #pet, #gadget {
		margin-bottom: 1%;
	}

}